<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p><img src="<%=product.Pimage%>" /></p>
    <p><%=product.Pname%></p>
    <p>판매가격: <%=product.Price%></p>
    <p>할인가격:</p>
    <p>원산지: 국내산</p>
    <p>출시일: <%=product.Ptime%></p>
    <hr>
    <p>
</body>

</html>