<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <% if (name != "비회원") { %>
        <%-header2%>
        <% } else { %>
        <%-header%>
        <% } %>
    </div>
    <p><img src="/<%=product.Pimage%>" /></p>
    <p><%=product.Pname%></p>
    <p>판매가격:
        <input type="hidden" name="Price" id="Price" value="<%=saleprice%>" />
        <%=product.Price%></div>
        <p>할인가격: <%=saleprice%></p>
        <p>원산지: 국내산</p>
        <p>출시일:
            <%=date%></p>
        <p><%=product.Stock%></p>
        <hr>
        <p>사이버머니:
            <%=product.Cash%></p>
        <form action="/customer/detail/<%=product.PID%>/buy" method="post" enctype="multipart/form-data">
            <input type="hidden" name="P_RID" id="P_RID" value="<%=user_id%>" />
            <input type="hidden" name="S_RID" id="S_RID" value="admin" />
            <input type="hidden" name="D_PID" id="D_PID" value="<%=product.PID%>" />
            수량:
            <button type="button" onclick="sub_quantity()">-</button>
            <input readonly type="text" name="Dquantity" id="Dquantity" value=0 required="required" />
            <button type="button" onclick="add_quantity()">+</button>
            <p>전화번호:<input type="text" name="DphoneNum" id="PhoneNum" value="<%=product.Adress%>" required /></p>
            <p>배송지:<input type="text" name="Daddress" id="Daddress" value="<%=product.Phone%>" required /></p>
            <input type="hidden" name="Cash" id="Cash" value="<%=product.Cash%>" />
            <input type="hidden" name="Price" id="Price" value="<%=saleprice%>" />
            <input type="hidden" name="Stock" id="Stock" value="<%=product.Stock%>" />
            <button type="submit">결제</button>
        </form>
        <form action="/customer/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="PID" id="PID" value="<%=product.PID%>" />
            <input type="hidden" name="Qquantity" id="Qquantity" value=0 />
            <input type="hidden" name="Stock" id="Stock" value="<%=product.Stock%>" />
            <button type="submit">장바구니</button>
        </form>
</body>
<script language="javascript">
    function add_quantity() {
        var quantity = document.getElementById('Dquantity').value;
        update_quantity = Number(quantity) + 1;
        document.getElementById('Dquantity').value = update_quantity;
        document.getElementById('Qquantity').value = update_quantity;
    }

    function sub_quantity() {
        var quantity = document.getElementById('Dquantity').value;
        update_quantity = Number(quantity) - 1;
        document.getElementById('Dquantity').value = update_quantity;
        document.getElementById('Qquantity').value = update_quantity;
    }
</script>

</html>