<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <%-header%>
    </div>
    <p><img src="<%=product.Pimage%>" /></p>
    <p><%=product.Pname%></p>
    <p>판매가격:
        <input type="hidden" name="Price" id="Price" value="<%=product.Price%>" />
        <%=product.Price%></div>
        <p>할인가격:</p>
        <p>원산지: 국내산</p>
        <p>출시일:
            <%=product.Ptime%></p>
        <hr>
        <p>사이버머니:
            <input type="hidden" name="Cash" id="Cash" value="<%=product.Cash%>" />
            <%=product.Cash%></p>
        <form action="/customer/detail/<%=product.PID%>/buy" method="post" enctype="multipart/form-data">
            <input type="hidden" name="P_RID" id="P_RID" value="2016722036" />
            <input type="hidden" name="S_RID" id="S_RID" value="2016722966" />
            <input type="hidden" name="D_PID" id="D_PID" value="<%=product.PID%>" />
            <p>수량:
                <button type="button" onclick="sub_quantity()">-</button>
                <input type="text" name="Dquantity" id="Dquantity" value=0 required="required" />
                <button type="button" onclick="add_quantity()">+</button>
            </p>
            <button type="button" onclick="cal_price()">가격조회</button>
            <button type="submit">결제</button>

            <input type="hidden" name="Rest_cash" id="Rest_cash" value=0 />
            <input type="hidden" name="Pay_price" id="Pay_price" value=0 />
        </form>
</body>
<script language="javascript">
    function cal_price() {
        var quantity = document.getElementById('Dquantity').value;
        var price = document.getElementById('Price').value;
        var cash = document.getElementById('Cash').value;

        var pay_price = quantity * price;
        var rest_cash = cash - quantity * price;

        console.log("지불가격:" + pay_price);
        console.log("남은돈:" + rest_cash);
        document.getElementById('Cash').value = cash;
        document.getElementById('Pay_price').value = pay_price;
        document.getElementById('Rest_cash').value = rest_cash;
    }

    function add_quantity() {
        var quantity = document.getElementById('Dquantity').value;
        update_quantity = Number(quantity) + 1;
        document.getElementById('Dquantity').value = update_quantity;
    }

    function sub_quantity() {
        var quantity = document.getElementById('Dquantity').value;
        update_quantity = Number(quantity) - 1;
        document.getElementById('Dquantity').value = update_quantity;
    }
</script>

</html>