<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <% if (name != "비회원") { %>
        <%-header2%>
        <% } else { %>
        <%-header%>
        <% } %>
    </div>
    <h1><%= title %></h1>


    <p><%=cash%></p>
    <table border="1">
        <tr>
            <td></td>
            <td>이미지</td>
            <td>상품명(옵션)</td>
            <td>판매가</td>
            <td>회원 할인</td>
            <td>수량</td>
            <td>삭제</td>
        </tr>
        <%
        for(var i=0; i<cart.length; i++)
        {
            var option = cart[i];
            pay_price += Number(option.Cquantity) * Number(option.Price * (100 - option.Salerate) / 100);
        %>
        <tr>
            <td><%= i+1%></td>
            <td><img src="/<%=option.Pimage%>" width='200px' height='200px' /></td>
            <td><%=option.Pname%></td>
            <td><%=option.Price%></td>
            <td><%=option.Price * (100 - option.Salerate) / 100 %></td>
            <td><%=option.Cquantity%></td>
            <td>
                <form action="/customer/cart/delete" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="PID" id="PID" value="<%=option.PID%>" />
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
        <%
        }
        %>
    </table>
    <form action="/customer/cart/pay" method="post">
        <%
            for(var i=0; i<cart.length; i++)
            {
                var option = cart[i];
            %>
        <input type="hidden" name="D_PID" id="D_PID" value="<%=option.PID%>" />
        <input type="hidden" name="Dquantity" id="Dquantity" value="<%=option.Cquantity%>" />
        <input type="hidden" name="Ctime" id="Ctime" value="<%=option.Ctime%>" />
        <input type="hidden" name="Stock" id="Stock" value="<%=option.Stock%>" />
        <input type="hidden" name="Price" id="Price" value="<%=option.Price * (100 - option.Salerate) / 100%>" />
        <%
        }
        %>
        <input type="hidden" name="Cash" id="Cash" value="<%=cash%>" />
        <input type="hidden" name="P_RID" id="P_RID" value="<%=user_id%>" />
        <input type="hidden" name="S_RID" id="S_RID" value="admin" />
        <button type="submit"><%=pay_price%>원 결제</button>
    </form>
</body>

</html>