<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div>
        <% if (name != "비회원") { %>
        <%-header2%>
        <% } else { %>
        <%-header%>
        <% } %>
    </div>
    
<div style="text-align: center">
    <table class="tab_table">
        <tr>
            <td width=50><a href="/customer/tab">전체 메뉴</a></td>
            <td width=50><a href="/customer/tab/1">새우장</a></td>
            <td width=50><a href="/customer/tab/2">게장</a></td>
            <td width=50><a href="/customer/tab/3">계란장</a></td>
            <td width=50><a href="/customer/tab/4">김치</a></td>
            <td width=50>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width=50><a href="/customer/notice">공지사항</a></td>
            <td width=50><a href="/customer/qna">질문답변</a></td>
        </tr>
    </table>
    <img src="/main_border.png" style="width: 90%; height: 1%; overflow: hidden;">
</div>
    <table border="1">
        <tr>
            <td>제목</td>
            <td>
                <input type="hidden" name="Ntime" id="Ntime" value="<%=row.Qtime%>">
                <%=row.QTitle%>
            </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>
                관리자
            </td>
        </tr>
        <tr>
            <td>작성일</td>
            <td>
                <%=row.Qtime%>
            </td>
        </tr>
        <tr>
            <td>제목</td>
            <td>
                <%=row.Qtitle%>
            </td>
        </tr>
        <tr>
            <td>질문</td>
            <td>
                <%=row.Question%>
            </td>
        </tr>
        <tr>
            <td>이미지</td>
            <td>
                <% if ((row.Qimage == '') || (row.Qimage == null)) { %>
                    &nbsp;
                <% } else { %>
                <img src = '/<%=row.Qimage%>' width=150>
                <% } %>
            </td>
        </tr>
        <tr>
            <td>답변</td>
            <td>
                <%=row.Answer%>
            </td>
        </tr>
        <tr>
            <td>조회수</td>
            <td>
                <%=row.Qhit%>
            </td>
        </tr>
    </table>
    <% if (myqna.length == 1) { %>
        <form action="/customer/qna_delete/<%=row.Qtime%>" method="post" style="display:inline"><button type='submit' class='.btn'>삭제</button></form>
    <% } %>
</body>