<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p><img src="<%=row.Pimage%>" /></p>
  <p><%=row.Pname%></p>
  <p>판매가격: <%=row.Price%></p>
  <p>할인가격: <%=saleprice%></p>
  <p>원산지: 국내산</p>
  <p>출시일: <%=row.Ptime%></p>
</body>

</html>