<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <%-header%>
  </div>
  <p><img src="/<%=product.Pimage%>" /></p>
  <p><%=product.Pname%></p>
  <p>판매가격: <%=product.Price%></p>
  <p>할인가격:</p>
  <p>원산지: 국내산</p>
  <p>출시일: <%=product.Ptime%></p>
  <button onclick="window.location.href = '/customer/detail/<%=product.PID%>/buy'">구매하기</button>
  <form action="/customer/cart/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="PID" id="PID" value="<%=product.PID%>" />
    <button type="submit">장바구니</button>
  </form>
  <hr>
  <p>
    <h1>교환 / 반품</h1>
  </p>
  <p> - 식품 특성상 제품 하자를 제외한 개봉 후 반품 및 환불은 불가합니다.</p>
  <p> - 고객님의 단순 변심으로 인한 교환 및 반품은 어려우며, 발송 중 고객님의 부재로 인한 미수령 후 반송 시 반품은 불가합니다.</p>
  <p> - 제품에 문제가 있거나 주문한 상품과 동일하지 않은 상품을 받으신 경우 연락바랍니다.</p>
  <hr>
  <p>
    <h1>리뷰</h1>
    <button onclick="window.location.href = '/customer/detail/<%=product.PID%>/review'">작성</button>
  </p>

  <%
  for(var i=0; i<reviews.length; i++)
  {
      var review = reviews[i];
  %>
  <hr>
  <p>작성자: <%=review.Rname%></p>
  <p>리뷰내용: <%=review.Review%></p>
  <p>별점: <%=review.Star%></p>
  <p>시간: <%=review.Rtime%></p>
  <hr>
  <%
  }
  %>
  <hr>

</body>

</html>