<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <%-header%>
    </div>
    
<div style="text-align: center">
    <table class="tab_table">
        <tr>
            <td width=50><a href="/customer/tab">전체 메뉴</a></td>
            <td width=50><a href="/customer/tab/1">새우장</a></td>
            <td width=50><a href="/customer/tab/2">게장</a></td>
            <td width=50><a href="/customer/tab/3">계란장</a></td>
            <td width=50><a href="/customer/tab/4">김치</a></td>
            <td width=50>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width=50><a href="/customer/notice">Notice</a></td>
            <td width=50><a href="/customer/qna">Q&A</a></td>
        </tr>
    </table>
    <img src="/main_border.png" style="width: 90%; height: 1%; overflow: hidden;">
</div>
    <% if (page == 0) { %>
    <div style="text-align: center">
        <img src="/poster.png">
    </div>
    <br><br><br><br>
    <div style="text-align: center; margin: 0;">
        <table class = "tab_table">
            <tr><td style="font-size: 23px;">추천 상품</td></tr>
        </table>
        <img src="/main_border.png" style="width: 90%; overflow: hidden;">
    </div>
    <% } %>
    <br><br><br>
    <div style="text-align: center">
        <table class="tab_table" style="padding-left: 10%; padding-right: 10%; font-size: 15px">
<%
    for(var i=0; i<rows.length; i++)
    {
        var oneItem = rows[i];
        if (i % 3 == 0) {
%>
            <tr>
<%
        }
%>
            <td width=45>
                <img src="/<%=oneItem.Pimage%>" height="190" width="190" /><br><br>
                <a href="/customer/detail/<%=oneItem.PID%>"><%=oneItem.Pname%></a><br>
                <%=oneItem.Price%>원
            </td>
<%
        if (i % 3 == 2) {
%>
            </tr>
<%
        }
    }
%>
        </table>
    </div>
</body>

</html>