<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style5.css' />

    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <%-headerFormat3 %>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h2>
                    <%= title %>
                </h2>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Seller</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/admin/seller_list/1">상품 목록</a>
                        </li>
                        <li>
                            <a href="/admin/seller_state/1">주문 목록</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administrator</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/admin/client_list/1">고객 관리</a>
                        </li>
                        <li>
                            <a href="/admin/notice_list/1">공지 관리</a>
                        </li>
                        <li>
                            <a href="/admin/qna_list/1">Q&A 관리</a>
                        </li>
                        <li>
                            <a href="/admin/stastics/">판매 통계</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <!-- 여기에 넣으세요 -->
            <!-- 여기에 넣으세요 -->
            <!-- 여기에 넣으세요 -->
            <!-- 여기에 넣으세요 -->
            <form action="/admin/notice_update" method="POST" onsubmit="return onWriteSubmit()" enctype="multipart/form-data">
                <table border="1" class="table table-hover" style="margin-bottom: 0px;">
                    <input type="hidden" name="time" id="time" value="<%=notice.Ntime%>" />
                    <tr>
                        <td>작성자</td>
                        <td>관리자</td>
                    </tr>
                    <tr>
                        <td>제목</td>
                        <td><input type="text" name="title" id="title" value="<%=notice.NTitle%>" required/></td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td>
                            <pre><textarea type="text" class="form-control" name="content2" id="content2" cols="30" rows="17" required/><%-notice.Ntext%></textarea></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>이미지</td>
                        <td><input class="btn btn-outline-dark" type="file" name="image" id="image" accept="image/*" /></td>
                    </tr>
                    <tr align="right">
                        <td colspan="2">
                            <button class="btn btn-outline-dark" type="submit" name="update">글 쓰기</button>
                    </tr>
                </table>
            </form>
            <!-- 여기에 넣으세요 -->
            <!-- 여기에 넣으세요 -->
            <!-- 여기에 넣으세요 -->

        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js " integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ " crossorigin="anonymous "></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js " integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm " crossorigin="anonymous "></script>

    <script>
        function onWriteSubmit() {
            if ($("#title ").val().trim() == " ") {
                var meessage = "제목을 입력해주세요. ";
                $("#title ").val(" ");
                $("#title ").focus();
                alert(meessage);
                return false;
            }
            if ($("#content2 ").val().trim() == " ") {
                var meessage = "본문 내용을 입력해주세요. ";
                $("#content2 ").val(" ");
                $("#content2 ").focus();
                alert(meessage);
                return false;
            }
        }
    </script>
    <script type="text/javascript ">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

</body>

</html>