<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <% if (name != "비회원") { %>
        <%-header2%>
        <% } else { %>
        <%-header%>
        <% } %>
    </div>
    <p><img src="<%=product_deal.Pimage%>" /></p>
    <p><%=product_deal.Pname%></p>
    <p>판매가격:
        <%=product_deal.Price%></p>
    <p>할인가격:</p>
    <p>원산지: 국내산</p>
    <p>출시일:
        <%=product_deal.Ptime%></p>
    <hr>
    <form action="/customer/detail/<%=product_deal.PID%>/review" method="post" enctype="multipart/form-data">
        <input type="hidden" name="R_RID" id="R_RID" value="<%=user_id%>" />
        <input type="hidden" name="R_PID" id="R_PID" value="<%=product_deal.PID%>" />
        <input type="hidden" name="R_DID" id="R_DID" value="<%=product_deal.DID%>" />
        <p>이미지:
            <input type="file" name="image" id="image" accept="image/png, image/jpeg" required="required" /></p>
        <p>리뷰쓰기:
            <input type="text" name="Review" id="Review" required="required" /></p>
        <p>별점:
            <input type="text" name="Star" id="Star" required="required" /></p>
        <button type="submit">작성</button>
    </form>
</body>

</html>